.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - $header-height);

    .container {
        min-height: calc(100vh - $header-height);
    }

    .feature-title {
        font-family: 'IM Fell French Canon SC', sans-serif;
        font-size: 1.5rem;
        font-weight: unset;
    }

    .feature-inner {
        height: calc(100vh - ($header-height + 3.188rem));
    }

    .button-services {
        color: $light;
        height: 3.188rem;

        svg {
            transform: translateY(-35%);

            path {
                fill: $light;
            }
        }

        &:hover {
            color: $light;

            svg {
                transform: translateY(0) scale(.75);
            }
        }
    }
}

.section {
    display: flex;
    align-items: center;
    min-height: 100vh;
    padding: $spacer * 5 0;

    .container {
        position: relative;
    }
}

.services {
    .services-list {
        .services-item {
            position: relative;

            .icon {
                background-color: $primary;
                width: 3.75rem;
                height: 3.75rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: $border-radius;
            }

            .info {
                padding-left: $spacer;
            }

            .service-image {
                border-radius: $border-radius;
            }
        }
    }
}

.schedule {
    position: relative;
    overflow: hidden;

    .parallax-image {
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
    }

    &::before,
    &::after {
        content: "";
        background-image: url(./../../assets/img/section-bg-triangle.svg);
        width: 100%;
        height: 75px;
        position: absolute;
        left: 0;
    }

    &::before {
        top: 0;
    }

    &::after {
        bottom: 0;
        transform: rotateZ(180deg);
    }

    .floating-card {
        background-color: rgb($dark-dark, 0.75);
        border-radius: $border-radius;

        .left-side,
        .right-side {
            width: 100%;
        }

        .divider {
            border-right: 2px solid rgb($light-dark, 0.75);
        }
    }
}

.album {
    background-color: transparent;
}

.location {
    background-color: $dark;

    .map-area {
        background-color: $dark-dark;
        width: 100%;
        height: 375px;
        border-radius: $border-radius;
        box-shadow: $box-shadow;

        iframe {
            width: 100%;
            height: 100%;
            border: 0;
            border-radius: $border-radius;
        }
    }
}