@media (min-width: 576px) {
    body {

        h1,
        .h1 {
            font-size: 1.75rem;
        }

        h2,
        .h2 {
            font-size: 1.55rem;
        }

        h3,
        .h3 {
            font-size: 1.35rem;
        }
    }

    .feature {
        .feature-title {
            font-size: 1.75rem;
        }
    }
}

@media (min-width: 768px) {
    .feature {
        .feature-title {
            font-size: 2.25rem;
        }
    }
}

@media (min-width: 992px) {
    .feature {
        .feature-title {
            font-size: 2.75rem;
        }
    }

    .schedule {
        .floating-card {

            .left-side,
            .right-side {
                width: 50%;
            }
        }
    }
}

@media(min-width: 1200px) {}