@media (min-width: 576px) {
    body {

        h1,
        .h1 {
            font-size: 1.75rem;
        }

        h2,
        .h2 {
            font-size: 1.55rem;
        }

        h3,
        .h3 {
            font-size: 1.35rem;
        }
    }
}

@media (min-width: 768px) {
    body {

        h1,
        .h1 {
            font-size: 2rem;
        }

        h2,
        .h2 {
            font-size: 1.75rem;
        }

        h3,
        .h3 {
            font-size: 1.45rem;
        }
    }
}

@media (min-width: 992px) {
    body {

        h1,
        .h1 {
            font-size: 2.5rem;
        }

        h2,
        .h2 {
            font-size: 2rem;
        }

        h3,
        .h3 {
            font-size: 1.5rem;
        }
    }

    .header {
        .logo {
            img {
                height: unset;
            }
        }
    }
}

@media(min-width: 1200px) {}