body {
    display: flex;
    flex-direction: column;
    background-color: $dark-dark;
    width: 100%;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: $light;
    overflow-x: hidden;

    a {
        color: $light;
        text-decoration: none;
        transition: $transition-base;

        &:hover {
            opacity: 0.8;
            transition: $transition-base;
        }
    }

    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3,
    h4,
    .h4 {
        font-weight: 500;
    }

    h1,
    .h1 {
        font-size: 2.5rem;
    }

    h2,
    .h2 {
        font-size: 2rem;
    }

    h3,
    .h3 {
        font-size: 1.5rem;
    }

    h4,
    .h4 {
        font-size: 1rem;
    }

    small,
    .small {
        font-size: .785rem;
    }

    .form-floating {
        label {
            color: rgb($dark, 0.75);
        }
    }

    .form-control {
        background-color: rgb($light-dark, 1) !important;
    }

    .btn-primary,
    .btn-primary-dark {
        color: $light;

        &:hover {
            color: rgb($light, 1);
        }
    }

    .btn-outline-primary,
    .btn-outline-primary-dark {
        &:hover {
            color: rgb($light, 1);
        }
    }
}

.header-bg {
    background-image: url(./../../assets/img/header-bg.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.header {
    display: flex;
    align-items: center;
    width: 100%;
    height: $header-height;

    .nav {
        .nav-item {
            .nav-link {
                color: $light;
            }
        }
    }
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - $header-height);

    .container {
        min-height: calc(100vh - $header-height);
    }

    .feature-title {
        font-family: 'IM Fell French Canon SC', sans-serif;
        font-size: 2.813rem;
        font-weight: unset;
    }

    .feature-inner {
        height: calc(100vh - ($header-height + 3.188rem));
    }

    .button-services {
        height: 3.188rem;

        svg {
            transform: translateY(-35%);

            path {
                fill: $light;
            }
        }

        &:hover {
            color: $light;

            svg {
                transform: translateY(0) scale(.75);
            }
        }
    }
}

.section {
    display: flex;
    align-items: center;
    min-height: 100vh;

    .container {
        position: relative;
    }
}

.services {
    .services-list {
        .services-item {
            position: relative;

            .icon {
                background-color: $primary;
                width: 3.75rem;
                height: 3.75rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: $border-radius;
            }

            .info {
                padding-left: $spacer;
            }

            .service-image {
                border-radius: $border-radius;
            }
        }
    }
}

.schedule {
    background-image: url(./../../assets/img/section-bg-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 16%;
    background-attachment: fixed;
    position: relative;

    &::before,
    &::after {
        content: "";
        background-image: url(./../../assets/img/section-bg-triangle.svg);
        width: 100%;
        height: 125px;
        position: absolute;
        left: 0;
    }

    &::before {
        top: 0;
    }

    &::after {
        bottom: 0;
        transform: rotateZ(180deg);
    }

    .floating-card {
        background-color: rgb($dark-dark, 0.75);
        border-radius: $border-radius;

        .left-side,
        .right-side {
            width: 100%;
        }

        .divider {
            border-right: 2px solid rgb($light-dark, 0.75);
        }
    }
}