/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: $primary $light-dark;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 6px;
}

*::-webkit-scrollbar-track {
    background: $light-dark;
}

*::-webkit-scrollbar-thumb {
    background-color: $primary;
    border-radius: 20px;
    border: 3px solid $light-dark;
}